/src/compile
/utilites/xeno_field_exporter/compile
/utilites/xeno_model_exporter/compile
/utilites/xeno_field_exporter/compile_d
/src/compile_r
/output/*.pdb
/utilites/xeno_field_exporter/*.suo
/src/*.suo
/utilites/xeno_field_exporter/output/*.pdb
/utilites/xeno_field_exporter/xgears.sdf
/src/xgears.sdf
/utilites/xeno_field_exporter/xgears.opensdf
