/src/compile
/utilites/xeno_field_exporter/compile
/utilites/xeno_model_exporter/compile
/utilites/xeno_field_exporter/compile_d
/src/compile_r
/output/*.pdb
/utilites/xeno_field_exporter/*.suo
/src/*.suo
/utilites/xeno_field_exporter/output/*.pdb
/utilites/xeno_field_exporter/xgears.sdf
/src/xgears.sdf
/utilites/xeno_field_exporter/xgears.opensdf
/src/xgears.opensdf
/utilites/xeno_sound_dumper/*.sdf
/utilites/xeno_extract/*.sdf
/utilites/xeno_sound_dumper/compile
/utilites/xeno_sound_dumper/xgears.opensdf
/utilites/ffvii_wm_exporter/compile_r
